# ARDUCAM_MEGA

config VIDEO_ARDUCAM_MEGA
	bool "Arducam Mega CMOS digital image sensor"
	select SPI
	depends on DT_HAS_ARDUCAM_MEGA_ENABLED
	default y
	help
	  Enable driver for Arducam Mega CMOS digital image sensor device.